/* .container{} */
.card {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
}
.form {
  /* border: 3px solid red; */
  margin-top: 10px;
  border-radius: 10px;
  padding: 30px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #f7f7f7;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.heading{
  font-size: 20px;
  color: rgb(54, 54, 54);
}
.header .img {
  width: 10%;
}
.img img {
  padding: 5px;
  padding-left: 5px;
  border: 1px solid rgb(229, 229, 229);
  width: 95%;
  border-radius: 50%;
}
.formbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 3px solid red; */
}
.formbox > .form {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
form input{
  padding: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border:1px solid rgb(207, 207, 207);
}
form select{
  padding: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border:1px solid rgb(207, 207, 207);
  color: rgb(80, 80, 80);
}
form select:hover{
  cursor: pointer;
}
form textarea{
  padding: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border:1px solid rgb(207, 207, 207);
}
form button{
  font-size: 15px;
  padding: 10px;
  background: #282828;
  color: white;
  border-radius: 5px;
}
form button:hover{
  cursor: pointer;
  background: #1b1b1b;
}
@media screen and (min-width: 300px) and (max-width: 680px) {
   .header .img{
    width: 20%;
  }
  .form{
    width: 100%;
  }
}
